**/.DS_Store
*/.idea
*/.gradle
*/build
**/*.egg-info
**/__pycache__/*

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Intellij cache directory
.idea

# Ignore Gradle build output directory
build
